extends templates/template
block page
  h1 Ejercicio 01 - Menú responsive
  ul.menu#menu
    li.menu__item
      a.menu__link(href="#") Item 1
    li.menu__item
      a.menu__link(href="#") Item 2
      ul.menu--child
        li.menu__item
          a.menu__link(href="#") Item 1
        li.menu__item
          a.menu__link(href="#") Item 2
        li.menu__item
          a.menu__link(href="#") Item 3
        li.menu__item
          a.menu__link(href="#") Item 4
        li.menu__item
          a.menu__link(href="#") Item 5
    li.menu__item
      a.menu__link(href="#") Item 3
    li.menu__item
      a.menu__link(href="#") Item 4
    li.menu__item
      a.menu__link(href="#") Item 5